torch == 1.0.0
torchvision == 0.2.1
numpy == 1.16.0
tensorboardX == 1.8
scipy == 1.3.0
protobuf == 3.9.0
tqdm == 4.32.2
tensorflow == 2.3.1
smac
hpbandster==0.7.4
ConfigSpace
hyperopt
tensorflow-probability==0.7.0
